.booking {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  padding-inline: 30px;
  background-color: #495e57;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.foodImage {
  height: 250px;
  width: 125px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .description {
    width: 50%;
    font-size: medium;
  }
  .foodImage {
    height: 450px;
    width: 100%;
  }
  .title {
    font-size: xx-large;
  }
}
