.container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 25px;
  height: 350px;
  margin-bottom: 20px;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 15px;
  padding-inline: 10px;
}
.price {
  color: #ee9972;
  padding-inline: 10px;
}

.description {
  color: lightgrey;
  margin-block: 15px;
  padding-inline: 10px;
  text-align: center;
}
.itemName {
  font-weight: bolder;
  color: lightgrey;
}
.dishPhoto {
  height: 200px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.order {
  padding-inline: 10px;
  font-weight: bolder;
}
